{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
  </head>
  <body>
    
<img src="images/airpunjab.jpg" alt="Not found" width="100%" height="800">
{{!-- <a href="flight">flight</a>
<a href="searchbar">Search for flights </a> --}}
<br>
    {{{body}}}
    <br>
      <script src="/js/script.js"></script>
   </body>
   
</html>


