<h1>search options</h1>

<form action="/flightsearch" method="GET">
	<label for="query">AirportSource</label>
	<input type="text" id="query" name="q1">

    <label for="query">AirportDestination</label>
	<input type="text" id="query" name="q2">
	<button type="submit">Search</button>
</form>

